<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Добро пожаловать на LiveLaw</h1>
    <p>
      <strong>Ваш логин:</strong>
      <%= @email %>
    </p>
    <p>
      <strong>Ваш пароль:</strong>
      <%= @password %>
    </p>
  </body>
</html>
